{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    {% block content %}

          <div class="container">
            <div class="services__top">
              <div class="services__title-box">
                <div class="services__title">
                  {{ title }}
                </div>
              </div>
            </div>
            <div class="graph__item">
                <img src="../../static/app/img/graph_years.png" alt="" width="80%">
            </div>
            <div class="table__item">
                <table border="1" cellspacing="0" align="center" width="70%">
{#                #}
                    <tr>
                        {% for header in db_headers %}
                        <td>{{ header }}</td>
                        {% endfor %}
                    </tr>
                    {% for field in db %}
                        <tr>
                            <td>{{ field.year }}</td>
                            <td>{{ field.average_salary }}</td>
                            <td>{{ field.average_salary_profession }}</td>
                            <td>{{ field.count_vacancies }}</td>
                            <td>{{ field.count_vacancies_profession }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
          </div>

    {% endblock content %}
</body>

</html>